<div class="userForm">
  <div class="ui big form" wfd-id="150">
    <div class="two fields" wfd-id="152">
      <div class="field" wfd-id="155">
        <label wfd-id="156">First Name</label>
        <input placeholder="First Name" type="text" wfd-id="544" />
      </div>
      <div class="field" wfd-id="153">
        <label wfd-id="154">Last Name</label>
        <input placeholder="Last Name" type="text" wfd-id="543" />
      </div>
    </div>
    <div class="two fields" wfd-id="152">
      <div class="field" wfd-id="155">
        <label wfd-id="156">Password</label>
        <input placeholder="First Name" type="text" wfd-id="544" />
      </div>
      <div class="field" wfd-id="153">
        <label wfd-id="154">Phone Number</label>
        <input placeholder="Last Name" type="text" wfd-id="543" />
      </div>
    </div>
    <div class="ui submit button" wfd-id="151">Submit</div>
  </div>
</div>
