<div class="profile-container">
  <!-- account setting logo -->
  <h2 class="ui center aligned icon header">
    <h2 class="ui header">
      <i class="settings icon"></i>
      <div class="content" wfd-id="43">
        Account Settings
        <div class="sub header" wfd-id="44">Manage your preferences</div>
      </div>
    </h2>
  </h2>
  <!-- for efit or delete account -->
  <div class="delEd">
    <button class="ui active button" wfd-id="285">
      <i class="user icon"></i>
      Edit profile
    </button>
  </div>

  <!-- for user picture -->
  <div class="pic">
    <div class="ui move right reveal" wfd-id="50">
      <div class="visible content" wfd-id="52">
        <img
          src="https://www.veryfrenchgangsters.com/include/asset/semantic/examples/assets/images/wireframe/square-image.png"
          class="ui small image"
        />
      </div>
      <div class="hidden content" wfd-id="51">
        <img
          src="https://media.istockphoto.com/photos/angel-picture-id1048184150?k=6&m=1048184150&s=612x612&w=0&h=Uf3SwVdWXT4ll7a1WQ-MIlH3WAiTNH5XmsumC4bMftw="
          class="ui small image"
        />
      </div>
    </div>
  </div>
  <!-- 
  <div class="info">
    <div class="ui segments" wfd-id="124">
      <div class="ui segment" wfd-id="135">
        <p>Personal informations</p>
      </div>
      <div class="ui segments" wfd-id="131">
        <div class="ui segment" wfd-id="134">
          <div class="ui horizontal segments" wfd-id="126">
            <div class="ui segment" wfd-id="129">
              <h3>Name</h3>
            </div>
            <div class="ui segment" wfd-id="128">
              <p>SEMER</p>
            </div>
          </div>
          <div class="ui horizontal segments" wfd-id="126">
            <div class="ui segment" wfd-id="129">
              <h3>email</h3>
            </div>
            <div class="ui segment" wfd-id="128">
              <p>semer_ben_salem@yahoo.fr</p>
            </div>
          </div>
          <div class="ui horizontal segments" wfd-id="126">
            <div class="ui segment" wfd-id="129">
              <h3>password</h3>
            </div>
            <div class="ui segment" wfd-id="128">
              <p>SEMER</p>
            </div>
          </div>
        </div>
        <div class="ui segment" wfd-id="130">
          <p>Middle</p>
        </div>
        <div class="ui horizontal segments" wfd-id="126">
          <div class="ui segment" wfd-id="129">
            <p>Top</p>
          </div>
          <div class="ui segment" wfd-id="128">
            <p>Middle</p>
          </div>
          <div class="ui segment" wfd-id="127">
            <p>Bottom</p>
          </div>
        </div>
        <div class="ui segment" wfd-id="125">
          <p>Bottom</p>
        </div>
      </div>
    </div>
  </div> -->
  <!-- first name -->
  <div class="ui two steps" wfd-id="93">
    <div class="active step" wfd-id="97">
      <i class="user icon"></i>
      <div class="content" wfd-id="98">
        <div class="title" wfd-id="99">First Name</div>
      </div>
    </div>
    <div class="disabled step" wfd-id="94">
      <div class="content" wfd-id="95">
        <div class="title" wfd-id="96">SEMER</div>
      </div>
    </div>
  </div>
  <!-- last name -->
  <div class="ui two steps" wfd-id="93">
    <div class="active step" wfd-id="97">
      <i class="user icon"></i>
      <div class="content" wfd-id="98">
        <div class="title" wfd-id="99">Last Name</div>
      </div>
    </div>
    <div class="disabled step" wfd-id="94">
      <div class="content" wfd-id="95">
        <div class="title" wfd-id="96">Ben Salem</div>
      </div>
    </div>
  </div>
  <!-- password -->
  <div class="ui two steps" wfd-id="93">
    <div class="active step" wfd-id="97">
      <i class="key icon"></i>
      <div class="content" wfd-id="98">
        <div class="title" wfd-id="99">Password</div>
      </div>
    </div>
    <div class="disabled step" wfd-id="94">
      <div class="content" wfd-id="95">
        <div class="title" wfd-id="96">password</div>
      </div>
    </div>
  </div>
  <!-- email -->
  <div class="ui two steps" wfd-id="93">
    <div class="active step" wfd-id="97">
      <i class="at icon"></i>
      <div class="content" wfd-id="98">
        <div class="title" wfd-id="99">email</div>
      </div>
    </div>
    <div class="disabled step" wfd-id="94">
      <div class="content" wfd-id="95">
        <div class="title" wfd-id="96">semer_ben_salem@yahoo.fr</div>
      </div>
    </div>
  </div>
  <!-- phone number -->
  <div class="ui two steps" wfd-id="93">
    <div class="active step" wfd-id="97">
      <i class="phone icon"></i>
      <div class="content" wfd-id="98">
        <div class="title" wfd-id="99">phone Number</div>
      </div>
    </div>
    <div class="disabled step" wfd-id="94">
      <div class="content" wfd-id="95">
        <div class="title" wfd-id="96">+216 50 45 50 25</div>
      </div>
    </div>
  </div>
</div>
